body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  padding-top: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(82,82,226,1) 45%, rgba(0,212,255,1) 100%) no-repeat;
}

.ant-input-affix-wrapper.input {
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ant-input-affix-wrapper.input img{ 
  width: 15px;
}

.ant-row.select {
  height: 3em;
  align-items: center;
}

.Authors {
  width: 50%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
}

.Authors, .authorAvatar {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.authorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: large;
  text-align: center;
  padding-top: 5px;
}

.ant-select-selector {
  width: 60%;
}

.ant-select.ant-select-single.ant-select-show-arrow {
  width: 250px 
}

.authorsList {
  border-top: 1px solid #f0f0f0;
}

.info {
  font-weight: 650;
  font-size: 15px;
}

.publications {
  bottom: 8px;
}

li.ant-list-item { 
  padding-left: 15px;
  position: relative;  
}

.ant-list-split .ant-list-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.queue.ant-col {
  position: relative;
  top: 10px;
  right: 5px;
  margin: 0 10px 0 0;
  color: 	#C8C8C8;
  font-size: 15x;
}

.medal {
  position: absolute;
  left: 60%;
  width: 25px;
  top: 10px;
}

.greyRow {
  background: #E8E8E8 !important;
}

.pagination {
  text-align: center;
}

.ant-col.ant-col-6.pagination-item {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item.arrow {
  font-size: 45px;
}

.pagination-item .page-link, .pagination-item span {
  color: white;
}

.itemCounter {
  font-size: 20px;
}

div.ant-select-selector, .filtersOptionsMenu {
  width: 250px !important;
}


/* media */

@media (max-width: 1024px) {
  .Authors {
    width: 90%;
  }
}

@media (max-width: 376px) {

  * {
    font-size: 15px;
  }

  .Authors {
    width: 95%;
  }

  .Authors > * {
    height: 10%;
  }

  .medal {
    width: 20px;
    left: 65%;
    top: 10px;
  }

  .input.ant-input-affix-wrapper {
    height: 50px;
  }

  .ant-select.ant-select-single.ant-select-show-arrow {
    width: 100%;
  }

  .pagination-item {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .pagination-item a{
    font-size: 45px;
  }
}