@media (max-width: 900px) {
    .Authors {
      width: 70%;
    }
  }
  
@media (max-width: 600px) {
    .Authors {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .Authors {
        width: 95%;
    }
}
    